.pizza-photo {
  background: url("../img/pizza.jpg") no-repeat, 50% 50%;
  height: 100%;
  width: 100%;
  height: 100vh;
  display: table;
  top: 0;
  background-size: cover;
}

h1 {
  color: #FFF;
  text-align: center;
  display: inline-block;
  border-color: #ff0101;
  padding: 25%;
  font-family:'Source Code Pro', monospace;
  font-weight: bolder;
  font-size: 8em;
  font-weight:200;
}

.item {
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: 4;
}

.photo-button {
  background: rgba(0,0,0,0.3);
  border-color: #ff0101;
  border-width: thick;
  text-align: center;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  color: white;
  font-weight: bold;
  text-decoration: none
}

.photo-button:hover {
  background: rgba(0,0,0,0.1);
  border-color: #ff0101;
  color: #ff0101;
}

.intro {
  font-family:'Source Code Pro', monospace;
  font-size: 25px;
  text-align: center;
  border-color: #ff0101;
  border-style: inset;
  border-width: thick;
  padding: inherit;
  padding: 5% 5% 5% 5%;
}

#red {
  color: #ff0101;
}

.hide-area {
  display: none;
}

#reveal-menu {
  font-family:'Source Code Pro', monospace;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  color: #ff0101;
}

#reveal-menu:hover {
  color: black;
}

#order-area {
  font-family:'Source Code Pro', monospace;
  font-size: 25px;
}

#order-block {
  text-align: center;
  font-weight: bold;
}

#order-block:hover {
  color: #ff0101;
}


.btn-area {
  text-align: center;
}

#btn:hover {
  color: #ff0101;
  background: rgba(0,0,0,0.3);
}

#btn {
  background: rgba(0,0,0,0.1);
  border-color: #ff0101;
  border-width: thick;
  text-align: center;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  color: white;
  font-weight: bold;
  text-decoration: none
}

.order-total {
  border: #ff0101;
  font-family:'Source Code Pro', monospace;
  text-align: center;
  font-size: 40px;
}

.order-detail {
  border: #ff0101;
  font-family:'Source Code Pro', monospace;
  text-align: center;
  font-size: 40px;
}

#end {
  font-size: 12px;
  text-align: center;
  color: black;
  font-family:'Source Code Pro', monospace;
}

.icons {
vertical-align: bottom;
text-align: center;
font-size: 35px;
color: #ff0101;
padding: 3em;
}

.icons a {
color: #ff0101;
}

a:hover {
color: black;
}

@@media screen and (max-width: 768px) {
  .content h1 {
    font-size: 250%;
  }

  .btn {
    font-size: 110%;
    padding: 7px 15px;
  }

  p {
    font-size: 100%;
    line-height: 160%;
  }

  @media only screen and (min-width 400px) {
    img {
      margin: 0;
      width: 100%;
    }
  }
